.tile {
  color: green;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  /* transition: all 200ms ease; */
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
      -ms-border-radius: 2px;
       -o-border-radius: 2px;
          border-radius: 2px;
  background-color: #c0c0c0;
  font-family: 'Consolas', sans-serif;
}

.tile[class*="discover"] {
  background-color: unset;
  font-size: 0;
}